body {
  background: green;
}
.card {
  display: inline-block;
  text-align: center;
  background: white;
  margin: auto;
  height: 400px;
  width: 250px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
  position: relative;

  .top {
    position: absolute;
    top: 10px;
    left: 5px;
    padding: 10px;
    font-size: 75px;
  }
  .bottom {
    position: absolute;
    top: 330px;
    left: 195px;
    padding: 10px;
    font-size: 75px;
    transform: rotate(180deg);
  }
  .number {
    display: flex;

    padding-top: 150px;
    padding-left: 100px;
    padding-bottom: 55px;
    font-size: 100px;
  }

  .♠ {
    content: "\2663";
    color: red;
  }

  .♣ {
    content: "\2663";
    color: red;
  }
  .♥ {
    content: "\2665";
    color: red;
  }
  .♦ {
    content: "\2666";
    color: red;
  }
}
